@page {
    size: a4 portrait;
    margin: 10mm 10mm 10mm 10mm;
    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    color: color;
    @bottom-left {
        content: '© 2018 - 2019 Chinthaka Deshapriya & Openemail';
        font-size: 10px;
    }
    @top-center {
        content: string(chapter);
        font-size: 12px;
    }
    @bottom-right {
        content: 'Page ' counter(page);
        font-size: 10px;
    }
}
